body #suiteBar {
    
    #suiteBarLeft {
        // Move siteIcon to suiteBar left,
        .ms-tableCell:nth-child(2) {
            width: 100%;
        }
    }

    #suiteBarRight {
        // Move siteIcon to suiteBar left,
        vertical-align: middle;
    }
}

body #DeltaTopNavigation {
    // Move TopNavigation to s4-workspace ouside,
    display: block;
}
