body {
  /* SuiteBar */
  /* SideNavbox */
}
body [class^="col-"] {
  padding: 0;
}
body #suiteBarLeft {
  background-color: #3D99D7;
}
body #suiteBarLeft .ms-siteicon-img {
  max-width: 35px;
  margin-top: 15px;
}
body.ms-core-needIEFilter #suiteBarLeft {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ff3D99D7, D7, endColorstr=#ff3D99D7, D7);
}
body .ms-core-listMenu-verticalBox .ms-core-listMenu-root > li.static > .ms-core-listMenu-item {
  padding: 10px 30px;
  font-size: 1.23em;
  font-weight: bold;
  background-color: #F2F2F4;
  border: 1px solid #D1D1D1;
  margin-top: -1px;
}
body .ms-core-listMenu-verticalBox .ms-core-listMenu-root > li.static > .ms-core-listMenu-item:hover {
  background-color: #3C99D7;
  color: white;
}
body #contentBox {
  /*@import "less/tab.less";*/
}
body #contentBox input[type=checkbox],
body #contentBox input[type=radio] {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
label body #contentBox input[type=checkbox],
label body #contentBox input[type=radio] {
  z-index: -100 !important;
  width: 0 !important;
  height: 0 !important;
  position: fixed;
}
body #contentBox input[type=checkbox]:checked,
body #contentBox input[type=radio]:checked,
body #contentBox input[type=checkbox]:focus,
body #contentBox input[type=radio]:focus {
  outline: none !important;
}
body #contentBox input[type=checkbox] + label,
body #contentBox input[type=radio] + label {
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 20px;
  min-height: 18px;
  min-width: 18px;
  font-weight: normal;
  cursor: pointer;
}
body #contentBox input[type=checkbox] + label::before,
body #contentBox input[type=radio] + label::before {
  cursor: pointer;
  font-family: fontAwesome;
  font-weight: normal;
  font-size: 12px;
  color: #32A3CE;
  content: "\a0";
  background-color: #FAFAFA;
  border: 1px solid #C8C8C8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  /*, inset 0px -15px 10px -12px rgba(0,0,0,0.05);*/
  border-radius: 0;
  display: inline-block;
  text-align: center;
  height: 16px;
  line-height: 14px;
  min-width: 16px;
  margin-right: 1px;
  position: relative;
  top: -1px;
  box-sizing: border-box;
}
body #contentBox input[type=checkbox]:checked + label::before,
body #contentBox input[type=radio]:checked + label::before {
  display: inline-block;
  box-sizing: border-box;
  color: #FFF;
  content: '\f00c';
  background-color: #F9A021;
  border-color: #F9A021;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}
body #contentBox input[type=checkbox]:hover + label::before,
body #contentBox input[type=radio]:hover + label::before,
body #contentBox input[type=checkbox] + label:hover::before,
body #contentBox input[type=radio] + label:hover::before {
  border-color: #ADB8C0;
}
body #contentBox input[type=checkbox]:active + label::before,
body #contentBox input[type=radio]:active + label::before,
body #contentBox input[type=checkbox]:checked:active + label::before,
body #contentBox input[type=radio]:checked:active + label::before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
body #contentBox input[type=checkbox]:disabled + label::before,
body #contentBox input[type=radio]:disabled + label::before,
body #contentBox input[type=checkbox][disabled] + label::before,
body #contentBox input[type=radio][disabled] + label::before,
body #contentBox input[type=checkbox].disabled + label::before,
body #contentBox input[type=radio].disabled + label::before {
  background-color: #DDD !important;
  border-color: #CCC !important;
  box-shadow: none !important;
  color: #BBB;
}
body #contentBox .switch input[type=checkbox] {
  width: 55px;
  height: 25px;
}
body #contentBox .switch input[type=checkbox] + label {
  margin: 0 4px;
  min-height: 24px;
  line-height: 22px;
}
body #contentBox .switch input[type=checkbox] + label::before {
  font-family: 'Open Sans';
  content: "ON\a0\a0\a0\a0\a0\a0\a0\a0\a0OFF";
  color: #999;
  text-shadow: 0 0 0 #999;
  font-weight: normal;
  font-size: 11px;
  line-height: 17px;
  height: 20px;
  overflow: hidden;
  border-radius: 12px;
  background-color: #F5F5F5;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #CCC;
  text-align: left;
  float: left;
  padding: 0;
  width: 52px;
  text-indent: -21px;
  margin-right: 5px;
  -webkit-transition: text-indent .3s ease;
  transition: text-indent .3s ease;
  top: auto;
}
body #contentBox .switch input[type=checkbox] + label::after {
  font-family: 'Open Sans';
  content: 'III';
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0;
  color: #AAA;
  text-shadow: none;
  background-color: #FFF;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  position: absolute;
  top: -2px;
  left: -3px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,.3);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,.3);
  -webkit-transition: left .3s ease;
  transition: left .3s ease;
}
body #contentBox .switch input[type=checkbox]:checked + label::before {
  text-indent: 8px;
  color: #FFF;
  text-shadow: 0 0 0 #FFF;
  background-color: #FF893C;
  border-color: #B7D3E5;
  box-sizing: border-box;
}
body #contentBox .switch input[type=checkbox]:checked + label::after {
  left: 34px;
  background-color: #FFF;
  color: #98A0A5;
  box-sizing: border-box;
}
body #contentBox .switch.switch-6 input[type=checkbox] + label {
  position: relative;
}
body #contentBox .switch.switch-6 input[type=checkbox] + label::before {
  font-family: FontAwesome;
  content: "\f00d";
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: none;
  border: none;
  font-weight: lighter;
  font-size: 16px;
  border-radius: 12px;
  display: inline-block;
  background-color: #888;
  color: #F2F2F2;
  width: 52px;
  height: 22px;
  line-height: 21px;
  text-indent: 32px;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
}
body #contentBox .switch.switch-6 input[type=checkbox] + label::after {
  content: '';
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 2px;
  left: 3px;
  border-radius: 12px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width: 18px;
  height: 18px;
  text-align: center;
  background-color: #F2F2F2;
  border: 4px solid #F2F2F2;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
body #contentBox .switch.switch-6 input[type=checkbox]:checked + label::before {
  content: "\f00c";
  text-indent: 6px;
  color: #FFF;
  border-color: #B7D3E5;
  background-color: #FF893C;
}
body #contentBox .switch.switch-6 input[type=checkbox]:checked + label::after {
  left: 32px;
  background-color: #FFF;
  border: 4px solid #FFF;
  text-shadow: 0 -1px 0 rgba(0, 200, 0, 0.25);
}
body #contentBox .ms-listviewtable {
  width: 100%;
}
body #contentBox .ms-listviewtable .ms-viewheadertr > th {
  padding: 8px;
  color: #707070;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.42857143;
  vertical-align: middle;
  background: #F2F2F2;
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #ececec 100%);
  background-image: -o-linear-gradient(top, #f8f8f8 0%, #ececec 100%);
  background-image: linear-gradient(to bottom, #f8f8f8 0%, #ececec 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0);
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
body #contentBox .ms-listviewtable .ms-viewheadertr > th.ms-headerCellStyleIcon {
  padding: 0;
  /*border-left: 1px solid #dddddd;*/
}
body #contentBox .ms-listviewtable .ms-viewheadertr > th.ms-vh-icon:last-child {
  background: none;
  border: none;
}
body #contentBox .ms-listviewtable .ms-viewheadertr > th.ms-headerCellStyleIcon,
body #contentBox .ms-listviewtable .ms-viewheadertr > th.ms-vh,
body #contentBox .ms-listviewtable .ms-viewheadertr > th.ms-vh2 {
  /*border-right: 1px solid #dddddd;*/
}
body #contentBox .ms-listviewtable .ms-itmhover > td {
  border-bottom: 1px solid #dddddd;
}
body #contentBox .ms-listviewtable .ms-itmhover .ms-vb-itmcbx {
  /*border-left: 1px solid #dddddd;*/
}
body #contentBox .ms-listviewtable .ms-itmhover .ms-cellstyle {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  /*border-right: 1px solid #dddddd;*/
}
body #contentBox .ms-listviewtable .ms-alternating {
  background-color: #f9f9f9;
}